/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~Elements~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
    box-sizing: border-box;
}

body {
    border: 1px solid black;
    margin: 0px;
}

main {
    background-color: rgb(58, 140, 65);
    padding-top: 10px;
}

footer {
    background-color: gray;
    padding: 15px 10px;
    border-top: 1px solid black;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~Classes~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.navbar {
    border-bottom: 1px solid black;
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    display: flex;
    justify-content: space-between;
}

.flag {
    width: 45px;
    height: 49px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

.dropdown-content {
    position: relative;
    top: 49px;
    right: 0px;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.photobanner {
	height: 220px;
	width: 8640px;
	margin-bottom: 80px;
}

/*keyframe animations*/

.first {
	-webkit-animation: bannermove 50s linear infinite;
	   -moz-animation: bannermove 50s linear infinite;
	    -ms-animation: bannermove 50s linear infinite;
	     -o-animation: bannermove 50s linear infinite;
	        animation: bannermove 50s linear infinite;
}

@keyframes "bannermove" {
 from {
    margin-left: 0px;
 }
 to {
    margin-left: -5746px;
 }

}

@-moz-keyframes bannermove {
 from {
   margin-left: 0px;
 }
 to {
   margin-left: -5746px;
 }

}

@-webkit-keyframes "bannermove" {
 from {
   margin-left: 0px;
 }
 to {
   margin-left: -5746px;
 }

}

@-ms-keyframes "bannermove" {
 from {
   margin-left: 0px;
 }
 to {
   margin-left: -5746px;
 }

}

@-o-keyframes "bannermove" {
 from {
   margin-left: 0px;
 }
 to {
   margin-left: -5746px;
 }

}
.photobanner {
	height: 242px;
	width: 8640px;
	margin-bottom: 80px;
}

.photobanner img {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.photobanner img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;

	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.veterans {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.action {
    text-align: center;
}

.celebrate {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media only screen and (min-width: 576px) {
    .celebrate {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

.struggle {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media only screen and (min-width: 576px) {
    .struggle {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

.hopeful {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media only screen and (min-width: 576px) {
    .hopeful {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

.impact {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media only screen and (min-width: 576px) {
    .impact {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~IDs~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#container {
 width: 100%;
 overflow: hidden;
 margin: 50px auto;
 background: transparent;
}