/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~Elements~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

header {
    background-color: gray;
}

main {
    background-color: rgb(58,140,65);
}

footer {
    background-color: gray;
    padding: 15px 10px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~Classes~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.veterans {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.action {
    text-align: center;
}

.celebrate {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.struggle {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.hopeful {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.impact {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}