/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: red;
    font-family: Arial;
    /*display-items*/
    display: flex;
    justify-content: space-between;
}

img {
    width: 45px;
    height: 49px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

.dropdown-content {
    position: relative;
    top: 60px;
    right: 10px;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/*Main Section*/
body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.top {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(army1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 20s infinite ease-in-out;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.content a {
    background-color: blue;
    padding: 20px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 25px;
}

.content a:hover {
    background-color: red;

}
.content h1{
    font-size: 3em;
    color:white;
}
.content p{
    font-size:2em;
    color:white;
}

.social {
    padding:20px 0px;
  /*flex-items*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

@keyframes change {
    0% {
        background-image: url(army2.jpg);
    }
    20% {
        background-image: url(army3.jpg);
    }
    40% {
        background-image: url(army6.jpg);
    }
    60% {
        background-image: url(army4.jpg);
    }
    80% {
        background-image: url(army5.jpg);
    }
    100% {
        background-image: url(army2.jpg);
    }
}
