* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    height: 100vh;
    width: 100%;
    background-image: url('army8.jpg');
    /*linear-gradient rgba research*/
    background-size: cover;
    background-position: top 100px;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px;
    align-content: center;
    /*flex-items*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #706a5c;

}

#home {
    background-color: #f1bf08;
    color: black;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 32px;
}

.navbar ul li {
    display: inline-block;
    margin: 0 20px;
    list-style: none;
    position: relative;
}

.navbar ul li a {
    color: Gold;
    text-transform: uppercase;
    Text-decoration: none;

}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    position: absolute;
    background-color: Gold;
    left: 0;
    bottom: -5px;
    transition: 1s;

}

.navbar ul li:hover::after {
    width: 100%;

}

.content {
    width: 100%;
    position: absolute;
    top: 40%;
    color: #f1bf08;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.content h1 {
    font-size: 60px;
}

@media(max-width:568px) {
    .content h1 {
        font-size: 30px;
    }
}

.content p {
    font-size: 0.9em;
    font-weight: bold;
    line-height: 45px;
}

button {
    margin: 20px;
    text-align: center;
    width: 200px;
    padding: 10px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 800;
    color: black;
    background-color: #f1bf08;
    cursor: pointer;
}

/*footer*/
.social {
    padding: 20px 0;
    color: #f1bf08;
    background-color: black;
    /*flex-items*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

@media(max-width:568px) {
    header {
        background-color: #706a5c;
        position: relative;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .social {
        padding: 20px 0;
        color: #f1bf08;
        background-color: black;
        /*flex-items*/
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
    }
}

ul {
    text-align: center;
}